// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// HIGHLIGHT CONTENT FOR DEVS
.dev-note {
  background-color: lighten($baby-pink, 15%);
  font-family: monospace;
  padding: 2px 8px;
}

.dev-note-block {
  clear: both;
  border-left: 8px solid lighten($mauve, 30%);
  padding-left: 10px;

  .dev-note:first-of-type {
    background-color: lighten($mauve, 30%);
    margin-left: -18px;
  }
}
