{% extends "layout.html" %}

{% block page_title %}
  What was the value of your last annual balance sheet?
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>

      <h1 class="heading-large">
        What was the value of your last annual balance sheet?
      </h1>

      <form action="small-companies" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visually-hidden">What was the value of your last annual balance sheet?</legend>
            <div class="multiple-choice">
              <input id="balancesheetNo" type="radio" name="balancesheet" value="No" {{ checked('balancesheet','No') }}>
              <label for="balancesheetNo">&pound;5.1 million or less</label>
            </div>

            <div class="multiple-choice">
              <input id="balancesheetYes" type="radio" name="balancesheet" value="Yes" {{ checked('balancesheet','Yes') }}>
              <label for="balancesheetYes">More than &pound;5.1 million</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
