{% extends "layout.html" %}

{% block page_title %}
  Do you have charitable status?
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>

      <h1 class="heading-large">
        Do you have charitable status?
      </h1>

      <form action="employees" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline" data-required data-error="Choose at least one option">
            <legend class="visually-hidden">Do you have charitable status?</legend>
            <div class="multiple-choice">
              <input id="charityYes" type="radio" name="charity" value="Yes" {{ checked('charity','Yes') }}>
              <label for="charityYes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="charityNo" type="radio" name="charity" value="No" {{ checked('charity','No') }}>
              <label for="charityNo">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
