{% extends "layout.html" %}

{% block page_title %}
  How many people does your organisation employ?
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>

      <h1 class="heading-large">
        How many people does your organisation employ?
      </h1>

      <form action="turnover" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visually-hidden">Number of employees</legend>
            <div class="multiple-choice">
              <input id="employeesunder50" type="radio" name="employees" value="50 or fewer" {{ checked('employees','50 or fewer') }}>
              <label for="employeesunder50">50 or fewer</label>
            </div>

            <div class="multiple-choice">
              <input id="employeesover50" type="radio" name="employees" value="Over 50" {{ checked('employees','More than 50') }}>
              <label for="employeesover50">More than 50</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
