{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge margin-bottom-30">
        Prototype for sponsorship fee checking
      </h1>
      <p><a href="start" class="button">View the current prototype</a></p>


      <!-- <h2 class="heading-medium">Previous versions</h2>

      <ul class="list">

        <li class="margin-bottom-30">
          <p class="lede margin-bottom-15">
            <a href="https://sms-redesign-v1.herokuapp.com/home">Version 1</a>
          </p>
          <p class="form-hint">
            Beginning of PI-1 and tested on 1 March 2017.
          </p>
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v1-changelog" aria-expanded="false">
              Version 1 changelog
            </summary>
            <div id="v1-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>First tested version which includes a basic structure with <a href="home">landing page</a> which links down to sub-sections and a full flow for <a href="/licence/ao-replace/start">replace AO</a></li>
              </ul>
            </div>
          </details>
        </li>

      </ul> -->

    </div>
  </div>
</main>

{% endblock %}
