{% extends "layout.html" %}

{% block page_title %}
  Outcome
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>

      {% if data['devcontent'] != 'true' %}

        {% if data['outcome'] == 'small' %}
          <p class="lede">Based on your answers you are a:</p>
          <h1 class="heading-xlarge">Small or charitable sponsor </h1>
          <p>The licence application fee for small or charitable sponsors is &pound;536.</p>


        {% elif data['outcome'] == 'large' %}
          <p class="lede">Based on your answers you are a:</p>
          <h1 class="heading-xlarge">Large sponsor</h1>
          <p>The licence application fee for large sponsors is &pound;1,476.</p>
        {% else %}
          <p>Error: no outcome. <a href="start">Start again</a></p>
        {% endif %}




      {% else %}
      <!-- All content shown for dev -->
        <div class="dev-note-block">
          <span class="dev-note">If the sponsor is small</span>

          <p class="lede">Based on your answers you are a:</p>
          <h1 class="heading-xlarge">Small or charitable sponsor </h1>
          <p>The licence application fee for small or charitable sponsors is &pound;536.</p>

        </div>


        <div class="dev-note-block">
          <span class="dev-note">If the sponsor is large</span>

          <p class="lede">Based on your answers you are a:</p>
          <h1 class="heading-xlarge">Large sponsor</h1>
          <p>The licence application fee for large sponsors is &pound;1,476.</p>
        </div>

      {% endif %}

    </div>
  </div>
</main>

{% endblock %}
