{% extends "layout.html" %}

{% block page_title %}
  Outcome
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['devcontent'] != 'true' %}

        {% if data['outcome'] == 'small' %}

          <h1 class="heading-large">Based on your answers the correct application fee is &pound;536 </h1>
          <!-- <p>For small or charitable sponsors the Tier 2 licence application fee is &pound;536.</p> -->
          <!-- <p>This means the licence application fee for the tiers you&rsquo;ve selected will be &pound;536.</p> -->
          <!-- <p>To apply for the type of licence you have selected will cost &pound;536.</p> -->

          <div class="panel panel-border-wide">
            This application fee is for new licences only. There are <a href="https://www.gov.uk/uk-visa-sponsorship-employers/apply-for-your-licence">different fees for adding new tiers to an existing licence</a>.
          </div>

        {% elif data['outcome'] == 'large' %}

          <h1 class="heading-large">Based on your answers the correct application fee is &pound;1,476</h1>
          <!-- <p>This means the licence application fee for the tiers you&rsquo;ve selected will be &pound;1,476.</p> -->
          <div class="panel panel-border-wide">
            This application fee is for new licences only. There are <a href="https://www.gov.uk/uk-visa-sponsorship-employers/apply-for-your-licence">different fees for adding new tiers to an existing licence</a>.
          </div>

        {% else %}

          <p>Error: no outcome. <a href="start">Start again</a></p>

        {% endif %}

        <p><a href="https://www.gov.uk/apply-sponsor-licence">Apply for your licence online</a></p>
        <p>Or you can <a href="start">start again</a>.</p>


      {% else %}
      <!-- All content shown for dev -->
        <div class="dev-note-block">
          <span class="dev-note">If the sponsor is small</span>

          <h1 class="heading-large">Based on your answers the correct application fee is &pound;536 </h1>

          <div class="panel panel-border-wide">
            This application fee is for new licences only. There are <a href="https://www.gov.uk/uk-visa-sponsorship-employers/apply-for-your-licence">different fees for adding new tiers to an existing licence</a>.
          </div>

          <p><a href="https://www.gov.uk/apply-sponsor-licence">Apply for your licence online</a></p>
          <p>Or you can <a href="start">start again</a>.</p>

        </div>


        <div class="dev-note-block">
          <span class="dev-note">If the sponsor is large</span>

          <h1 class="heading-large">Based on your answers the correct application fee is &pound;1,476</h1>
          <!-- <p>This means the licence application fee for the tiers you&rsquo;ve selected will be &pound;1,476.</p> -->
          <div class="panel panel-border-wide">
            This application fee is for new licences only. There are <a href="https://www.gov.uk/uk-visa-sponsorship-employers/apply-for-your-licence">different fees for adding new tiers to an existing licence</a>.
          </div>

          <p><a href="https://www.gov.uk/apply-sponsor-licence">Apply for your licence online</a></p>
          <p>Or you can <a href="start">start again</a>.</p>

        </div>

      {% endif %}

    </div>
  </div>
</main>

{% endblock %}
