{% extends "layout.html" %}

{% block page_title %}
  Members of ineligible groups
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>

      <h1 class="heading-large">
        Groups whose members are always large sponsors
      </h1>

      <p>If your organisation is part of a group, you may automatically be a large sponsor.</p>
      <p>All the members of a group are large sponsors if any member is:</p>

      <ul class="list list-bullet">
        <li>a traded company</li>
        <li>a body corporate (other than a company) whose shares are admitted to trading on a regulated market in an EEA State</li>
        <li>a person (other than a small company) who has permission under Part 4 of the Financial Services and Markets Act 2000 (c. 8) to carry on a regulated activity</li>
        <li>an e-money issuer</li>
        <li>an authorised insurance company, a banking company, an e-money issuer, a MiFID investment firm or a UCITS management company</li>
        <li>a person who carries on insurance market activity</li>
      </ul>

      <form action="check" method="get" class="form">

        <h2 class="heading-medium">At any time in your last full financial year, have you been part of a group that includes any of these?</h2>

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visually-hidden">At any time in your last full financial year, has your organisation been part of a group that includes any of these?</legend>
            <div class="multiple-choice">
              <input id="smallcompaniesgroupYes" type="radio" name="smallcompaniesgroup" value="Yes" {{ checked('smallcompaniesgroup','Yes') }}>
              <label for="smallcompaniesgroupYes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="smallcompaniesgroupNo" type="radio" name="smallcompaniesgroup" value="No" {{ checked('smallcompaniesgroup','No') }}>
              <label for="smallcompaniesgroupNo">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
