{% extends "layout.html" %}

{% block page_title %}
  Organisations that are always considered large
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>

      <h1 class="heading-large">
        Company types that are always considered large
      </h1>

      <p>You will always be considered a large sponsor if, at any time in your last full financial year, you have been:</p>
      <ul class="list list-bullet">
        <li>a public company</li>
        <li>a authorised insurance company, a banking company, an e-money issuer, a MiFID investment firm or a UCITS management company</li>
        <li>a company that carries on insurance market activity</li>
      </ul>

      <form action="small-companies-group" method="get" class="form">

        <h2 class="heading-medium">In your last full financial year, has your organisation been any of the above?</h2>
        <div class="form-group">
          <fieldset class="inline">
            <legend class="visually-hidden">In your last full financial year, has your organisation been any of the above?</legend>
            <div class="multiple-choice">
              <input id="smallcompaniesYes" type="radio" name="smallcompanies" value="Yes" {{ checked('smallcompanies','Yes') }}>
              <label for="smallcompaniesYes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="smallcompaniesNo" type="radio" name="smallcompanies" value="No" {{ checked('smallcompanies','No') }}>
              <label for="smallcompaniesNo">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
