{% extends "layout.html" %}

{% block page_title %}
  What was your organisation&rsquo;s most recent reported annual turnover?
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_proto.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>

      <h1 class="heading-large">
        What was your organisation&rsquo;s most recent reported annual turnover?
      </h1>

      <form action="balance-sheet" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline" data-required data-error="Choose at least one option">
            <legend class="visually-hidden">What was your organisation&rsquo;s most recent reported annual turnover?</legend>
            <div class="multiple-choice">
              <input id="turnoverNo" type="radio" name="turnover" value="No" {{ checked('turnover','No') }}>
              <label for="turnoverNo">&pound;10.2 million or less</label>
            </div>

            <div class="multiple-choice">
              <input id="turnoverYes" type="radio" name="turnover" value="Yes" {{ checked('turnover','Yes') }}>
              <label for="turnoverYes">More than &pound;10.2 million</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
